// Світла тема
.light {
  --themes-bg: #f9fafb;
  --themes-text: #111827;
  --themes-card-bg: #1f2937;
  --themes-border-color: #374151;
  --hover-color: #848688;
  --search-background: #f9fafb;
  --cart-background: #f9fafb;
  --sort-background: #e5e7eb;
  --mobile-background: #e5e7eb;
  --mobile-aside: #e5e7eb;
}

// Темна тема
.dark {
  --themes-bg: #929292;
  --themes-text: #f9fafb;
  --themes-card-bg: #ffffff;
  --themes-border-color: #e5e7eb;
  --hover-color: #505253;
  --search-background: #838181;
  --cart-background: #c1c0c0;
  --sort-background: #909093;
  --mobile-background: #637573;
  --mobile-aside: #7b848b;
}
